/****************************************
***********GLOBAL STYLES**********/


* {
  box-sizing: border-box;
  color: white;
  display: block;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: cell;
}

title {
  display: none;
}

h1 {
  font-size: 1em;
}
h2 {
  display: inline-block;
}


nav {
  padding-top: 5em;
}

nav>a{
  display: block;
  text-decoration: none;
  padding: 1em 0;
  border: 1px solid white;
}

section {
  width: 100%;
  margin: auto;
}

ul {
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

footer p,
footer h3 {
  color: black;
  overflow: hidden;
}



section,
footer {
  background-image: url("../img/background12min.jpg");
  opacity: 0.9;
  background-position: center;
  background-size: contain;
  padding: 1em;

}


/****************************************
***********MOBILE FIRST CLASSES**********/

.fa-info:hover {
  cursor:cell;
}

.learn-view {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills-each {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  font-size: 1.5em;
  line-height: 1.25em;
  text-align: justify;
}

.skills {
  color: black;
  margin: 1em auto;
  display: block;

}


/**********FULLSCREEN NAV STYLES **********/
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.95); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    z-index: 2000;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* The h3 text inside the Projects Info overlays */
.overlay h3 {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    line-height: 2em;
    width:60%;
    margin: auto;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
}


.projects-each {
  height: 15em;
  width: 100%;
  margin: 1em auto;
  border-radius: 2.5%;
  /*z-index: 1000;*/
}

.project-description{
  margin:  auto 0;

}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}



/****************************************
***********MOBILE FIST IDS**********/
#main-content {
  clear:both;
  display: block;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 8em;
}

#page-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: linear-gradient( 0deg, #fff, #bab8b8);
}

#header-banner {
  background-image: url("../img/header-banner-brain-MIN.svg") ;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#menu-container{
  width: 20%;
  position: fixed;
  top: 0;
  z-index: 9999;
  left: 5px;
}

#nav-container{
  position: relative;
  padding: 0;
  margin: 0 0 0 .5em;
  overflow: hidden;
  float: left;
  background-color: black;
  border: black;
  border-radius: 5%;
}

#nav-container img {
  width: 3em;
  height: 4em;
  border: none;
}

#tag-header-container{
  left: 1em;
  margin-left: 1.5em;
  text-align: left;
}

#tag-line,
#header-name {
  display: inline-block;
  background: black;
  margin: 0;
  padding: .25em 0;
  text-align: left;
}

#header-learn-more{
  background: black;
  display:block;
  width:7em;
  margin: 0 auto;
  font-weight: lighter;
  display: none;
  cursor: cell;
}

#about-summary {
  color:black;
  font-size: 1.5em;
  margin: 1em auto;
}

#about-learn-more {
  background: black;
  display: inline-block;
  padding: 1em;
  border-radius: 5%;
}

#about-skills p{
  color: black;
}

#project-container{
  width: 90%;
}

#projects {
  border-bottom: black 1px solid;
  color: black;
  height: 4em;
  padding-top: 2em;
  width: 95%;
  margin-top: 0;
  font-size: 2em;
}

#CodeReview {
  background: linear-gradient(#000, transparent 90%),
              linear-gradient(0deg, #000, transparent 90%),
              #000 url('../img/CodeReviewM.png') no-repeat center;
  background-size: cover;
}

#Corgi-SVG {
  background: linear-gradient(#000, transparent 90%),
              linear-gradient(0deg, #000, transparent 90%),
              #000 url('../img/CorgiSVDM.png') no-repeat center;
  background-size: cover;
}

#GalleryKMA{
  background: linear-gradient(#000, transparent 90%),
              linear-gradient(0deg, #000, transparent 90%),
              #000 url('../img/GalleryDeKMAM.png') no-repeat center;
  background-size: cover;
}

#KevApp{
  background: linear-gradient(#000, transparent 90%),
              linear-gradient(0deg, #000, transparent 90%),
              #000 url('../img/KevAppM.png') no-repeat center;
  background-size: cover;
}

#CustomVideo{
  background: linear-gradient(#000, transparent 90%),
              linear-gradient(0deg, #000, transparent 90%),
              #000 url('../img/VideoPlayerM.png') no-repeat center;
  background-size: cover;
}

#CSStoSASS{
  background: linear-gradient(#000, transparent 90%),
              linear-gradient(0deg, #000, transparent 90%),
              #000 url('../img/CSStoSassM.png') no-repeat center;
  background-size: cover;
}



#contact-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}





/****************************************
***********MEDIA QUERY TABLET**********/

@media (min-width: 768px) {

    /**********FULLSCREEN NAV STYLES **********/
    /* The Overlay (background) */

  .overlay a {font-size: 36px}
    .overlay .closebtn {
        font-size: 60px;
        top: 20px;
        right: 45px;
    }


  .project-description {
    font-size: 1.25em;
  }

  .projects-each {
    height: 15em;
    width: 42.5%;
    margin: 1em;
  }

  .project-description{
    transition: all 1s ease-in-out;
    font-size: 1.5em;
  }
  .project-description:hover {
    transform: skewX(10deg) scale(1.2);
    background: black;
    opacity: .8;
    border-radius: 5%;
    padding: 1em;
  }


  #header-banner {
    background-image: url("../img/header-banner-brain-MIN.svg") ;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #about-summary {
    width: 50%;
    text-align: justify;
  }

  #about-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }



  #project-container {
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    align-items: stretch;
  }
}

/****************************************
***********MEDIA QUERY DESKTOP**********/



@media (min-width: 1024px) {

  .contact-icons {
  transition: all 0.5s ease-in-out;
  }

  .contact-icons:hover {
  transform:  scale(1.3);
  }

  .projects-each {
    height: 17.5em;
    width: 27.5%;
  }


  #header-banner{
      height: 100vh;
  }

  #tag-line,
  #header-name {
    font-size: 1.5em;
  }

  #header-learn-more {
    display:inherit;
  }


  #about-summary {
    margin: 1.5em auto;
    line-height: 1.5em;
    font-size: 2em;
  }

  #project-container{
    width: 80%;
  }

  #projects {
    font-size: 3em;
  }



/***********Projects************/

  #CodeReview {
    background:linear-gradient(#000, transparent 90%),
                linear-gradient(0deg, #000, transparent 90%),
                #000 url('../img/CodeReviewTDr.jpg') no-repeat center;
                background-size: cover;
  }

  #Corgi-SVG {
    background:linear-gradient(#000, transparent 90%),
                linear-gradient(0deg, #000, transparent 90%),
                #000 url('../img/CorgiSVGTDr.jpg') no-repeat center;
                  background-size: cover;
  }

  #GalleryKMA{
    background:linear-gradient(#000, transparent 90%),
                linear-gradient(0deg, #000, transparent 90%),
                #000 url('../img/GalleryDeKMATDr.jpg') no-repeat center;
                  background-size: cover;
  }

  #KevApp{
    background:linear-gradient(#000, transparent 90%),
                linear-gradient(0deg, #000, transparent 90%),
                #000 url('../img/KevAppTDr.jpg') no-repeat center;
                  background-size: cover;
  }

    #CustomVideo{
      background:linear-gradient(#000, transparent 90%),
                  linear-gradient(0deg, #000, transparent 90%),
                  #000 url('../img/VideoPlayerTD.png') no-repeat center;
                    background-size: cover;
    }

    #CSStoSASS{
      background:linear-gradient(#000, transparent 90%),
                  linear-gradient(0deg, #000, transparent 90%),
                  #000 url('../img/CSStoSASSTD.png') no-repeat center;
                    background-size: cover;
    }

}
